<div class='container'>
  <div class='row'>
    <div class='col-3'>
      <h5 translate>footer.customer_support</h5>
      <p class='hotline-order' translate>footer.order_hotline<a href='#'> 024 6656 6602</a><br>
        <small translate>footer.free_hotline</small>
      </p>
      <p class='hotline-order' translate>footer.hotline<a href='#'> 024 6656 6666</a><br>
        <small translate>footer.hotline_price</small>
      </p>
      <div>
        <a href='#'><span class='line-footer' translate>footer.frequently</span></a>
        <a href='#'><span class='line-footer' translate>footer.submit</span></a>
        <a href='#'><span class='line-footer' translate>footer.order_method</span></a>
        <a href='#'><span class='line-footer' translate>footer.shipping</span></a>
        <a href='#'><span class='line-footer' translate>footer.return</span></a>
        <a href='#'><span class='line-footer' translate>footer.instructions</span></a>
        <a href='#'><span class='line-footer' translate>footer.import</span></a>
      </div>
    </div>
    <div class='col-2'>
      <h5 translate>footer.about</h5>
      <div>
        <a href='#'><span class='line-footer' translate>footer.introducing</span></a>
        <a href='#'><span class='line-footer' translate>footer.recruitment</span></a>
        <a href='#'><span class='line-footer' translate>footer.payment</span></a>
        <a href='#'><span class='line-footer' translate>footer.privacy</span></a>
        <a href='#'><span class='line-footer' translate>footer.complaint</span></a>
        <a href='#'><span class='line-footer' translate>footer.terms</span></a>
        <a href='#'><span class='line-footer' translate>footer.online_book</span></a>
        <a href='#'><span class='line-footer' translate>footer.introducing_xu</span></a>
        <a href='#'><span class='line-footer' translate>footer.consulting</span></a>
        <a href='#'><span class='line-footer' translate>footer.business</span></a>
      </div>
    </div>
    <div class='col-2'>
      <h5 translate>footer.cooperation</h5>
      <div>
        <a href='#'><span class='line-footer' translate>footer.regulation</span></a>
        <a href='#'><span class='line-footer' translate>footer.sell</span></a>
      </div>
    </div>
    <div class='col-2'>
      <h5 translate>footer.payment_method</h5>
      <div>
        <span><img src='../assets/images/payment-method.png' class='img-payment'></span>
      </div>
    </div>
    <div class='col-2'>
      <h5 translate>footer.connect</h5>
      <div>
        <a href='#'><span><img src='../assets/images/social-communication.png'></span></a>
      </div>
      <h5 translate>footer.download</h5>
      <div>
        <a href='#'><span><img src='../assets/images/app-ios.png' class='img-app'></span></a>
      </div>
      <div>
        <a href='#'><span><img src='../assets/images/app-androi.png' class='img-app'></span></a>
      </div>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-6'>
      <div class='row'>
        <div class='col-2 place-holder'><img src='../assets/images/placeholder.png' class='img-place-holder'></div>
        <div class='col-10'>
          <p translate>footer.office_address</p>
          <small translate>footer.description</small>
        </div>
      </div>
    </div>
    <div class='col-6'>
      <p translate>footer.warranty_address</p>
      <small translate>footer.refer</small>
    </div>
  </div>
</div>
