<!--START CAROUSEL ZONE-->
<div class="carousel-zone" [class.first-slide]="slide == 1" [class.second-slide]="slide == 2" [class.third-slide]="slide == 3">
  <div class="container">
      <div class="menu">
        <ul>
          <li *ngFor="let menuItem of menuList;" (mouseover)="getSubMenu(menuItem.id)">
              <span>{{menuItem.name}}</span>
          </li>
        </ul>
        <div class="submenu">
          <ul>
            <li *ngFor="let subMenu of subMenuList; let j = index" (mouseover)="getSubMenuSecond(j)">
              <span>{{subMenu.name}}</span>
            </li>
          </ul>
            <div *ngIf="showMenu" class="submenu-second">
              <ul>
                <li *ngFor="let subMenuSecond of subMenuSecondList">
                  <span>{{subMenuSecond.name}}</span>
                </li>
              </ul>
            </div>
        </div>
    </div>
      <div class="carousel">
        <ngb-carousel (slide)="changeBg($event)">
          <ng-template id="1" ngbSlide>
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/img18/home/airfryers/air_fryer_gw_desktop_1500x300._CB460271594_.jpg" alt="Random first slide">
            <div class="carousel-caption">
            </div>
          </ng-template>
          <ng-template id="2" ngbSlide>
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/AMAZON_FASHION/2019/EDITORIAL/WIN2/AF_GW/DESKTOP_HERO/DH_M_S_CasualBoots_1x._CB459186236_.jpg" alt="Random first slide">
            <div class="carousel-caption">
            </div>
          </ng-template>
          <ng-template id="3" ngbSlide>
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2019/February/Hero/Ship45EN_1X._CB454091417_.jpg" alt="Random first slide">
            <div class="carousel-caption">
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
  </div>
</div>
<!--END CAROUSEL ZONE-->

<content>
  <div class="container content">
    <!--START TOP SALE-->
    <h3 class="caption">Top sale</h3>
    <nb-card>
    <div class="top-sale-block">
          <div class="header-zone">
            <span class="see-more" *ngIf="seeMore" (click)="onSeeMore()">SEE MORE</span>
            <span class="see-more" *ngIf="!seeMore" (click)="onSeeMore()">COLLAPSE</span>
          </div>
            <div class="item-zone row" [class.over-flow]="seeMore">
              <div *ngFor="let topSaleItem of topSaleItems" class="card hover-item">
                <div class="card-img">
                  <img class="card-img-top" src="{{topSaleItem.mainImgUrl}}">
                </div>
                <div class="card-body">
                  <p class="card-title">{{topSaleItem.name}}</p>
                  <div class="price-zone">
                    <p class="card-text price">${{(topSaleItem.unitPrice * (100 -topSaleItem.discountPercent))/100 |number}}</p>
                    <span class="origin-price">${{topSaleItem.unitPrice}}</span>
                    <span class="discount">-{{topSaleItem.discountPercent}}%</span>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </nb-card>
    <!--END TOP SALE-->

    <!--START SHOP BY CATEGORY-->
        <h3 class="caption">Shop by category</h3>
      <nb-card>
        <div class="category-zone">
          <div class="category-item">
            <div *ngFor="let categoryItem of shopByCategoryItems" class="card category-card hover-item">
              <img class="card-img-top" src="{{categoryItem.imgUrl}}">
              <div class="card-body">
                <p class="card-title">{{categoryItem.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </nb-card>
    <!--END SHOP BY CATEGORY-->

    <!--START TOP SEARCHING-->
    <h3 class="caption">Top searching</h3>
      <nb-card>
        <div class="top-searching">
          <div class="most-popular hover-item">
            <img src="https://my-live.slatic.net/original/60cc653a20384b704e4822ac059b0a3c.jpg" alt="">
            <div class="info-most-popular">
              <p>Keyboard</p>
              <p class="product-number">153,111 products</p>
            </div>
          </div>
          <div class="top-popular">
            <div class="top-popular-items">
              <div class="top-popular-item">
                <img src="https://vn-test-11.slatic.net/p/2/dien-thoai-lv6-2-sim-ram-1gb-kieu-dang-iphone-6908-64904903-ad48fe8764ddad7984c7e8b2dbcaa542-catalog.jpg_80x80Q100.jpg_.webp" alt="">
                <div class="info-product">
                  <p>Phone</p>
                  <p class="product-number">802,000 products</p>
                </div>
              </div>
              <div class="top-popular-item">
                <img src="https://vn-test-11.slatic.net/original/cb4e2f768db6e4c8d47a809aac835a18.jpg_80x80Q100.jpg_.webp" alt="">
                <div class="info-product">
                  <p>Sim 4G</p>
                  <p class="product-number">126,000 products</p>
                </div>
              </div>
              <div class="top-popular-item">
                <img src="https://vn-test-11.slatic.net/original/930b7825446ffaa759087f7a206bf32f.jpg_80x80Q100.jpg_.webp" alt="">
                <div class="info-product">
                  <p>Computer Mouse</p>
                  <p class="product-number">148,234 products</p>
                </div>
              </div>
              <div class="top-popular-item">
                <img src="https://vn-test-11.slatic.net/p/8/den-pha-xe-may-sirius-bong-led-cao-cap-sieu-sang-khong-hao-binh-ftoh4-058-bong-den-led-sieu-sang-12v-noi-ban-den-do-uy-tin-1-doi-1-boi-lazada-sale-off-50-0641-22221572-f42c9348b47ff59c9388f32c0ed47dba-catalog.jpg_80x80Q100.jpg_.webp" alt="">
                <div class="info-product">
                  <p>Led Light</p>
                  <p class="product-number">148,000 products</p>
                </div>
              </div>
            </div>
            <div class="top-popular-items">
              <div class="top-popular-item">
                <img src="https://vn-test-11.slatic.net/p/2/tai-nghe-nhet-tai-earphone-langsdom-jm26-super-bass-den-4614-7100374-c49dd08c84f8619dd0a4b9b81eb1d5c3-catalog.jpg_80x80Q100.jpg_.webp" alt="">
                <div class="info-product">
                  <p>HeadPhone</p>
                  <p class="product-number">720,039 products</p>
                </div>
              </div>
              <div class="top-popular-item">
                <img src="https://vn-test-11.slatic.net/p/10/quat-mini-fan-co-pin-sac-3-toc-do-sieu-mat-5434-49582011-b41f17343e1b8db4a1e3e54c665251b9-catalog.jpg_80x80Q100.jpg_.webp" alt="">
                <div class="info-product">
                  <p>Mini fan</p>
                  <p class="product-number">46,020 products</p>
                </div>
              </div>
              <div class="top-popular-item">
                <img src="https://vn-test-11.slatic.net/p/bc62b9ae6265fc7e1d2afb2467124170.jpg_150x150Q100.jpg_.webp" alt="">
                <div class="info-product">
                  <p>Crossover bag</p>
                  <p class="product-number">220,000 products</p>
                </div>
              </div>
              <div class="top-popular-item">
                <img src="https://vn-test-11.slatic.net/original/9b72802f6d99e9eaf98d0ea599334ab1.jpg_80x80Q100.jpg_.webp" alt="">
                <div class="info-product">
                  <p>Men\'s perfume</p>
                  <p class="product-number">123,445 products</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nb-card>
    <!--END TOP SEARCHING-->
    <hr>
  </div>
</content>
