<div class="container">
  <nb-card class="pl-3 pr-3">
    <div class="row p-2">
      <div class="col-12">
        <div class="pt-2 pb-2">
          <b>Breadcrumb here</b>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="images-block col-4">
        <div class="image-preview">
          <img src="{{imagePreview}}">
        </div>
        <div class="image-list">
          <div class="image-item" (click)="viewImages()">
            <img src="{{imageItem}}" alt="">
          </div>
          <div class="image-item">
            <img
              src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg"
              alt="">
          </div>
          <div class="image-item">
            <img
              src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg"
              alt="">
          </div>
          <div class="image-item">
            <img
              src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg"
              alt="">
          </div>
          <div class="image-item">
            <img
              src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg"
              alt="">
          </div>
          <div class="image-item">
            <img
              src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg"
              alt="">
          </div>
          <div class="image-item">
            <img
              src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg"
              alt="">
          </div>
          <div class="image-item">
            <img
              src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg"
              alt="">
          </div>
          <div class="image-item">
            <img
              src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg"
              alt="">
          </div>
        </div>
      </div>
      <div class="col-8 pl-5">
        <div class="row mt-2">
          <div class="col-12">
            <div name="product-name">
              {{product.name}}
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="row" name="rating-block">
              <div class="rating-data">
                <a href="javascript:" class="rating-link" name="rating-point">
                  <span>{{product.avgRating}}&nbsp;</span>
                </a>
                <ngb-rating [(rate)]="product.avgRating" max=5 [readonly]="true"
                            class="rating-link">
                  <ng-template let-fill="fill">
                    <a href="javascript:" class="rating-link">
              <span class="star fill" [class.filled]="fill === 100">
                <i class="ion-android-star" *ngIf="fill === 100"></i>
                <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
              </span>
                    </a>
                  </ng-template>
                </ngb-rating>
              </div>
              <div class="rating-data">
                <a href="javascript:" name="vote-link">
                  <span name="rating-count">{{product.totalRating}} </span>
                  <span translate>product-detail.votes</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <div name="price-block">
              <div name="old-price">
                {{product.unitPrice | number}} {{currency}}
              </div>
              <div name="new-price">
                {{newPrice | number}} {{currency}}
              </div>
              <div>
                <span name="discount" translate
                      [translateParams]="{discount: product.discountPercent}">product-detail.discount</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-4">
            <span translate>product-detail.amount</span>
          </div>
          <div class="col-8">
            <button class="btn button-quantity"
                    (click)="doDecreaseQuantity()"
                    [disabled]="false"> -
            </button>
            <input type="text" class="input-quantity"
                   [(ngModel)]="amount"
                   min="1" (keypress)="checkPressKey(return)"
                   onpaste="return false;">
            <button class="btn button-quantity"
                    (click)="doEncreaseQuantity()">+
            </button>
            <span class="ml-3" translate
                  [translateParams]="{amount: product.availableItem}">product-detail.available_product</span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-3">
            <button class="btn" name="add-to-cart" (click)="addtoCart()">
              <span translate>product-detail.add_to_cart</span>
            </button>
          </div>
          <div class="col-3">
            <button class="btn button-payment" (click)="buyNow()">
              <span translate>product-detail.buy_now</span>
            </button>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <span translate>product-detail.brand</span>
              </div>
              <div class="col-8">
                <a href="javascript:" name="brand-name">
                  {{product.brandName}}
                </a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <span translate>product-detail.status</span>
              </div>
              <div class="col-8">
                <span>
                  {{product.status}}
                </span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row mt-4">
              <div class="col-4">
                <span translate>product-detail.weight</span>
              </div>
              <div class="col-8">
                <span>
                  {{product.weight}}
                </span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row mt-4">
              <div class="col-4">
                <span translate>product-detail.provider</span>
              </div>
              <div class="col-8">
                <span>
                  {{product.supplierName}}
                </span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row mt-4">
              <div class="col-2">
                <span translate>product-detail.delivered_from</span>
              </div>
              <div class="col-10">
                <span>
                  {{product.supplierAddress}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-12">
        <b>
          <span translate>product-detail.detail_description</span>
        </b>
      </div>
      <div class="col-12">
        {{product.fullDesc}}
      </div>
    </div>
    <div class="row p-2">
      <div class="col-12">
        <div translate>product_detail.rating_feedback</div>
      </div>
      <div class="col-4">
        <b>Rating here</b>
      </div>
      <div class="col-8">
        <div class="row mt-2">
          <div class="col-4">
            Rating stars
          </div>
          <div class="col-8">
            Rating bar and number
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4">
            Rating stars
          </div>
          <div class="col-8">
            Rating bar and number
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4">
            Rating stars
          </div>
          <div class="col-8">
            Rating bar and number
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4">
            Rating stars
          </div>
          <div class="col-8">
            Rating bar and number
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4">
            Rating stars
          </div>
          <div class="col-8">
            Rating bar and number
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="row mt-2">
          <div class="col-3">
            Avatar customer comment
          </div>
          <div class="col-3">
            <div class="row mt-2">
              Customer's name
            </div>
            <div class="row">
              Customer's rating
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            Customer's comment (Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Consequuntur cumque deserunt dignissimos excepturi
            ipsum iusto neque optio qui quia quod. Consectetur cupiditate
            debitis doloribus dolorum ea id illum laboriosam libero, non
            obcaecati omnis porro quae quia quibusdam reiciendis sequi tempora
            ullam veritatis, vitae voluptates. Assumenda eaque officiis sunt
            veniam voluptate?)
          </div>
        </div>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-12">
        <b><span translate>product-detail.related_product</span></b>
      </div>
      <div class="col-12 mt-2">
        <div class="row">
          <div class="col-2">
            <div class="row p-3">
              Image here
            </div>
            <div class="row p-3">
              Product name here
            </div>
            <div class="row p-3">
              Price here
            </div>
          </div>

          <div class="col-2">
            <div class="row p-3">
              Image here
            </div>
            <div class="row p-3">
              Product name here
            </div>
            <div class="row p-3">
              Price here
            </div>
          </div>

          <div class="col-2">
            <div class="row p-3">
              Image here
            </div>
            <div class="row p-3">
              Product name here
            </div>
            <div class="row p-3">
              Price here
            </div>
          </div>

          <div class="col-2">
            <div class="row p-3">
              Image here
            </div>
            <div class="row p-3">
              Product name here
            </div>
            <div class="row p-3">
              Price here
            </div>
          </div>

          <div class="col-2">
            <div class="row p-3">
              Image here
            </div>
            <div class="row p-3">
              Product name here
            </div>
            <div class="row p-3">
              Price here
            </div>
          </div>

        </div>
      </div>
    </div>
  </nb-card>
</div>
