<div class="container">
  <nb-card>
    <div class="row p-2">
      <div class="col-12">
        <div>
          <b>Breadcrumb here</b>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="images-block col-4">
        <div class="image-preview">
          <img src="{{imagePreview}}">
        </div>
        <div class="image-list">
          <div class="image-item" (click)="viewImages()">
            <img src="{{imageItem}}" alt="">
          </div>
          <div class="image-item">
            <img src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg" alt="">
          </div>
          <div class="image-item">
            <img src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg" alt="">
          </div>
          <div class="image-item">
            <img src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg" alt="">
          </div>
          <div class="image-item">
            <img src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg" alt="">
          </div>
          <div class="image-item">
            <img src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg" alt="">
          </div>
          <div class="image-item">
            <img src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg" alt="">
          </div>
          <div class="image-item">
            <img src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg" alt="">
          </div>
          <div class="image-item">
            <img src="https://png.pngtree.com/element_origin_min_pic/17/09/15/ff9b22c2cc9d02950137e064d0f72217.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row mt-2">
          <div class="col-12">
            <h5>Product-name</h5>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <b>Rating here</b>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <h5>Price here</h5>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4">
            Quantity
          </div>
          <div class="col-8">
            Buttons quantity here
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            Button Add to Cart here
          </div>
          <div class="col-6">
            Button Buy Now here
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                Brand name
              </div>
              <div class="col-6">
                <a href="javascript:">
                  Name of brand
                </a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                Status
              </div>
              <div class="col-6">
                Old or New
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                Weight (kg)
              </div>
              <div class="col-6">
                xxx
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                Provider
              </div>
              <div class="col-6">
                Provider's name
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-3">
                Sent form
              </div>
              <div class="col-9">
                Address sending product
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-12">
        <b>Detail Description</b>
      </div>
      <div class="col-12">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto asperiores at autem, blanditiis consequatur, distinctio doloremque dolorum eligendi enim ex id illum impedit laboriosam, minus mollitia nemo nihil omnis saepe soluta totam ullam voluptates? Doloremque harum, ipsam pariatur quidem reprehenderit sed voluptas. Ab consectetur deserunt error esse quas. Dicta!
      </div>
    </div>
    <div class="row p-2">
      <div class="col-12">
        Rating & Feedback
      </div>
      <div class="col-4">
          <b>Rating here</b>
      </div>
      <div class="col-8">
        <div class="row mt-2">
          <div class="col-4">
            Rating stars
          </div>
          <div class="col-8">
            Rating bar and number
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4">
            Rating stars
          </div>
          <div class="col-8">
            Rating bar and number
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4">
            Rating stars
          </div>
          <div class="col-8">
            Rating bar and number
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4">
            Rating stars
          </div>
          <div class="col-8">
            Rating bar and number
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4">
            Rating stars
          </div>
          <div class="col-8">
            Rating bar and number
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="row mt-2">
          <div class="col-3">
            Avatar customer comment
          </div>
          <div class="col-3">
            <div class="row mt-2">
              Customer's name
            </div>
            <div class="row">
              Customer's rating
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            Customer's comment (Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque deserunt dignissimos excepturi ipsum iusto neque optio qui quia quod. Consectetur cupiditate debitis doloribus dolorum ea id illum laboriosam libero, non obcaecati omnis porro quae quia quibusdam reiciendis sequi tempora ullam veritatis, vitae voluptates. Assumenda eaque officiis sunt veniam voluptate?)
          </div>
        </div>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-12">
        <b>Related Product</b>
      </div>
      <div class="col-12 mt-2">
        <div class="row">
          <div class="col-2">
            <div class="row p-3">
              Image here
            </div>
            <div class="row p-3">
              Product name here
            </div>
            <div class="row p-3">
              Price here
            </div>
          </div>

          <div class="col-2">
            <div class="row p-3">
              Image here
            </div>
            <div class="row p-3">
              Product name here
            </div>
            <div class="row p-3">
              Price here
            </div>
          </div>

          <div class="col-2">
            <div class="row p-3">
              Image here
            </div>
            <div class="row p-3">
              Product name here
            </div>
            <div class="row p-3">
              Price here
            </div>
          </div>

          <div class="col-2">
            <div class="row p-3">
              Image here
            </div>
            <div class="row p-3">
              Product name here
            </div>
            <div class="row p-3">
              Price here
            </div>
          </div>

          <div class="col-2">
            <div class="row p-3">
              Image here
            </div>
            <div class="row p-3">
              Product name here
            </div>
            <div class="row p-3">
              Price here
            </div>
          </div>

        </div>
      </div>
    </div>
  </nb-card>
</div>
