// themes - our custom or/and out of the box themes
@import 'themes';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...
// global app font size
@import './font-size';
// loading progress bar theme
@import './pace.theme';
@import './bootstrap-rtl';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  // set none decoration for all link
  a {
    text-decoration: none;
  }

  // custom button encrease and decrease quantity
  .button-quantity {
    background-color: #d6d6d6;
    padding: 2px 5px;
    width: 24px;
    border-radius: 0;
  }
  .button-quantity:hover {
    background-color: #a4a4a4;
  }

  .button-accept {
    background-color: #1a9cb7;
  }
  .button-accept:hover {
    background: #16849b;
  }
  .button-cancel {
    background-color: #eff0f5;
    color: #757575;
    border-color: #dadada;
  }
  .button-cancel:hover {
    color: #757575;
    background-color: #dadada;
    border-color: transparent;
  }

  .button-edit {
    border: 1px solid #ccc;
    background: linear-gradient(#fff,#f7f7f7);
    color: black;
  }
  .button-edit:hover {
    border: 1px solid #ccc;
    background: white;
    color: black;
  }

  //custom input quantity
  .input-quantity {
    margin-left: 1px;
    display: inline;
    width: 40px;
    height: 25px;
    text-align: center;
    border: none;
  }
  input[type="text"].input-quantity:focus {
    outline: none;
    border: 1px solid #5AB0DB;
  }

  input[type="text"].input-quantity:hover {
    border: 1px solid #999;
  }

  input[type="text"].input-quantity:focus:hover {
    outline: none;
    border: 1px solid #5AB0DB;

  }

  .mandatory-field:after {
    content: "*";
    color: red;
  }

  .field-error {
    border: 1px solid red;
  }

  .field-success {
    border: 1px solid green;
  }

  .form-control:focus {
    border: 2px solid #1a9cb7;
  }

  nb-checkbox .customised-control-input:checked + .customised-control-indicator {
    border-color: #1a9cb7 !important;
  }

  input .customised-control-input:hover,
  nb-checkbox .customised-control-indicator:hover,
  label .customised-control:hover,
  span .custom-control-description:hover {
    border-color: #1a9cb7 !important;
  }

  @include bootstrap-rtl();
}
.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 0;
}
.carousel-inner {
  height: 100%;
}
/// HOVER ITEM
.hover-item:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
