<div class="container">
  <div class="header-top-menu">
    <div class="header-top-item">
      <change-language></change-language>
    </div>
    <div class=" header-top-item" *ngIf="!loginFlg"><p (click)="goToRegister()" translate>header.register</p></div>
    <div class="header-top-item" *ngIf="loginFlg">
      <account-header></account-header>
    </div>
    <!--<div class="header-top-item" *ngIf="loginFlg"><p translate>header.account</p></div>-->
    <div class=" header-top-item" *ngIf="!loginFlg"><p (click)="goToLogin()" translate>header.login</p></div>

    <div class=" header-top-item"><p translate>header.check</p></div>
    <div class=" header-top-item"><p translate>header.customer</p></div>
    <div class=" header-top-item"><p translate>header.sales</p></div>
    <div class=" header-top-item"><p translate>header.save</p></div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="header-container"
           [class.left]="position === 'normal'"
           [class.right]="position === 'inverse'">
        <div class="logo-containter">
          <a (click)="goToHome()"><img src="assets/images/logo.png" class="logo"></a>
        </div>
        <div class="search-header">
          <div class="search-text">
            <input type="text" placeholder="{{'header.placeHolder'|translate}}"
                   class="header-search-text form-control" [(ngModel)]="textSearch" (keydown)="checkKeyDown($event)"/>
          </div>
          <div class="button-search">
            <button (click)="goToSearch()" class="btn header-button-search"><span><img
              src="assets/images/icon-search.png" class="icon-search"></span></button>
          </div>
        </div>
        <div class="header-cart">
            <div class="badge-number" *ngIf="loginFlg">
              <nb-badge text="2" status="warning"></nb-badge>
            </div>
            <div class="icon-cart"><span><img src="assets/images/icon-cart.png" (click)="goToCart()"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
