<div class="container">
  <div class="row ml-2 mt-2" *ngIf="count >= 1">
    <h5 *ngIf="count == 1">
      <span translate>cart.total</span>:
      <span translate [translateParams]="{number: count}">cart.products_count</span>
    </h5>
    <h5 *ngIf="count > 1" translate>
      <span translate>cart.total</span>:
      <span translate [translateParams]="{number: count}">cart.products_count</span>
    </h5>
  </div>
  <div class="row mt-2" *ngIf="count >= 1">
    <div class="col-md-8">
      <nb-card>
        <div class="row" name="cart-info" *ngFor="let product of productList">
          <div class="col-md-2">
            <div class="product-image pr-1">
              <a href="javascript:">
                <img
                  src="{{product.imgUrl}}"
                  name="product-small-image">
              </a>
            </div>
          </div>
          <div class="col-md-5">
            <div>
              <a href="javascript:" name="product-name">{{product.productName}}</a>
            </div>
            <div class="mt-2">
              <span translate>cart.provided_by</span>
              <a href="javascript:">{{product.supplierName}}</a>
            </div>
            <div class="mt-2">
              <a href="javascript:" (click)="doDeleteProduct(product.id)" translate>cart.delete</a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="row">
              <p class="product-price">
                {{product.unitPrice * (100 - product.discountPercent)/100 | number}} {{currency}}
              </p>
            </div>
            <div class="row">
              <p>
                <del>
              {{product.unitPrice | number}} {{currency}}
                </del>
              </p>
            </div>
            <div class="row">
              <p>
                -{{product.discountPercent}}%
              </p>
            </div>
          </div>
          <div class="col-md-3" align="right">
            <button class="btn button-quantity"
                    (click)="doDecreaseQuantity(product)"
                    [disabled]="product.amount == 1"> -
            </button>
            <input type="text" class="input-quantity"
                   [(ngModel)]="product.amount"
                   min="1" (keypress)="checkPressKey(this)"
                   onpaste="return false;">
            <button class="btn button-quantity"
                    (click)="doEncreaseQuantity(product)">+
            </button>
          </div>
        </div>
      </nb-card>
    </div>
    <div class="col-md-4">
      <nb-card class="p-3">
        <div class="row p-2">
          <div class="col-md-12">
            <h5 translate>cart.order_summary</h5>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-md-6">
            <p translate>cart.sub_total</p>
          </div>
          <div class="col-md-6">
            <p align="right">{{subTotal | number}} {{currency}}</p>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-md-6">
            <p translate>cart.shipping_fee</p>
          </div>
          <div class="col-md-6">
            <p align="right">2 {{currency}}</p>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-md-6">
            <p translate>cart.total</p>
          </div>
          <div class="col-md-6">
            <p align="right" class="product-price">{{subTotal + 2 | number}}
              {{currency}}</p>
          </div>
        </div>
      </nb-card>
      <button class="btn w-100" name="button-payment"
              (click)="doProceedPayment()">
        <p translate name="proceed-payment">cart.proceed_to_payment</p>
      </button>
    </div>
  </div>
  <div class="row mt-3" *ngIf="count < 1">
    <div class="col-12" name="cart-empty-scope">
      <div align="center" name="cart-empty-text"><span translate>cart.no_item</span></div>
    </div>
    <div class="col-12 mt-4">
      <div align="center">
        <button class="btn" name="button-continue-shopping"
                (click)="goToHome()">
          <p translate class="mt-3">cart.continue_shopping</p>
        </button>
      </div>
    </div>
  </div>
</div>
