<nb-card class="mt-4">
  <div class="container">
    <div class="row align-content-center">
      <h5>Create your account</h5>
    </div>
  </div>
  <form>
    <div class="container">
      <div class="row mt-2">
        <div class="col-3 offset-1">
          <p class="title-address-info mandatory-field">First name</p>
        </div>
        <div class="col-6">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="row mt-2">

        <div class="col-3 offset-1">
          <p class="title-address-info mandatory-field">Last name</p>
        </div>
        <div class="col-6">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="row mt-2">

        <div class="col-3 offset-1">
          <p class="title-address-info mandatory-field">Email address</p>
        </div>
        <div class="col-6">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="row mt-2">

        <div class="col-3 offset-1">
          <p class="title-address-info mandatory-field">Create a Password</p>
        </div>
        <div class="col-6">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="row mt-2">

        <div class="col-3 offset-1">
          <p class="title-address-info mandatory-field">Confirm password</p>
        </div>
        <div class="col-6">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
  </form>
</nb-card>
