<nb-card>
  <div class="container">
    <form [formGroup]="loginInfo">
      <div class="row mt-3">
        <div class="col-md-8">
          <div class="col-md-2">
            <label>
              <span>Email Adress</span>
            </label>
          </div>
          <div class="col-md-5">
            <div *ngIf="submitted && formControls.email.errors">
              <div *ngIf="formControls.email.errors.required">Email Address is required.</div>
              <div *ngIf="formControls.email.errors.email">Please enter a valid email address.</div>
            </div>
            <input type="text" id="email" name="email" formControlName="email">
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-8">
          <div class="col-md-2">
            <label>
              <span>Password</span>
            </label>
          </div>
          <div class="col-md-5">
            <div *ngIf="submitted && formControls.password.errors">
              <div *ngIf="formControls.password.errors.required">Password is required.</div>
              <div *ngIf="formControls.password.errors.minlength">Password must have at least 6 characters.</div>
            </div>
            <input type="text" id="password" name="password" formControlName="password">
          </div>
        </div>
      </div>
      <button type="button" class="btn" (click)="submitLogin()">Sign in</button>
      <div class="divider">
        <span>Don't have an account?</span>
      </div>
      <button type="button" class="btn">Create a new account</button>
    </form>
  </div>
</nb-card>

