<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card>
        <div class="row mt-3">
          <div class="col-8">
            <div class="m-4 payment-block">
              <div class="row">
                <div class="col-12 ml-3">

                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input"
                           name="payment"
                           value="payCash" id="payment-by-cash"
                           [(ngModel)]="paymentWay">
                    <span class="custom-control-indicator"></span>
                    <span
                      class="custom-control-description" translate>payment.pay_cash</span>
                  </label>

                </div>

                <div class="col-12 ml-3">

                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input"
                           name="payment"
                           value="payVisa" id="payment-by-card"
                           [(ngModel)]="paymentWay">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" translate>payment.pay_visa</span>
                  </label>

                  <div class="row mr-3 mt-2" *ngIf="paymentWay == 'payVisa'">
                    <div class="col-12">
                      <div class="m-4 payment-block">

                        <div class="m-2 payment-block-form">

                          <div class="row">
                            <div class="col-12">
                              <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input"
                                       name="payment-block"
                                       id="new-card-number">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"
                                      translate>payment.input_card_number</span>
                              </label>
                            </div>
                          </div>

                          <div class="row mt-2">
                            <div class="col-8">
                              <div class="row">
                                <div class="col-12">
                                  <label translate>payment.card_number</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-10">
                                  <input type="text" class="form-control"
                                         [attr.placeholder]="'payment.ex_card_number' | translate">
                                </div>
                              </div>

                              <div class="row mt-3">
                                <div class="col-12">
                                  <label translate>payment.name_on_card</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-10">
                                  <input type="text" class="form-control"
                                         [attr.placeholder]="'payment.ex_name_on_card' | translate"
                                         name="card-user-input">
                                </div>
                              </div>

                              <div class="row mt-3">
                                <div class="col-12">
                                  <label translate>payment.date_expired</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-5">
                                  <input type="text" class="form-control"
                                         [attr.placeholder]="'payment.ex_date_expired' | translate">
                                </div>
                              </div>

                              <div class="row mt-3">
                                <div class="col-12">
                                  <label translate>payment.security_code</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-5">
                                  <input type="text" class="form-control"
                                         [attr.placeholder]="'payment.ex_security_code' | translate">
                                </div>
                              </div>

                            </div>
                            <div class="col-4">
                              <div class="row mr-2">
                                <div class="col-12">
                                  <div class="image-mastercard">
                                    <img
                                      src="assets/images/cards/mastercard-guide.jpg"
                                      alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="row mt-2">
                                <div class="col-12">
                                  <p translate>payment.check_card_recommend</p>
                                </div>
                              </div>
                            </div>

                            <div class="col-12 mt-2">
                              <nb-checkbox [value]="true">
                                <span
                                  translate>payment.save_for_next_time</span>
                              </nb-checkbox>
                            </div>

                            <div class="col-12 mb-3">
                              <span translate>payment.warning_saving</span>
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>

                </div>

                <div class="col-12 ml-3">

                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input"
                           name="payment"
                           value="payEBanking" id="payment-by-ebank"
                           [(ngModel)]="paymentWay">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" translate>payment.pay_ebank</span>
                  </label>

                  <div class="row mr-3 mt-2"
                       *ngIf="paymentWay == 'payEBanking'">

                    <div class="col-12">
                      <div class="m-4 payment-block">

                        <div class="m-2 payment-block-form">

                          <div class="row">
                            <div class="col-12">
                              <ul name="list-bank-logo">
                                <li *ngFor="let bankLogo of bankLogos"><a
                                  href="javascript:">
                                  <img name="bank-logo"
                                       src="assets/images/bank-logos/{{bankLogo}}"></a>
                                </li>
                              </ul>
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>

            <div class="row mt-3 ml-3">
              <div class="col-12 mt-2">
                <h5 translate>payment.customer_info</h5>
                <nb-checkbox [value]="true">
                  <span translate>payment.using_info_delivery</span>
                </nb-checkbox>
              </div>
              <div class="col-12 mt-2">
                <button class="btn button-payment">
                  <span translate>payment.order_now</span>
                </button>
              </div>
              <div class="col-12 mt-2">
                <p translate>payment.check_recommend</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-12">
                <div class="m-4 payment-block">
                  <div class="row m-2 header-form-block">
                    <div class="col-7">
                      <p translate>payment.address_delivery</p>
                    </div>
                    <div class="col-5 text-right">
                      <button class="btn button-edit">
                        <span translate
                              (click)="gotoEditAddress()">payment.edit</span>
                      </button>
                    </div>
                  </div>
                  <div class="row m-2">
                    <div class="col-12 mt-2">
                      <h6><p>
                        {{deliveryInfo.fullName}}
                      </p></h6>
                    </div>
                    <div class="col-12 mt-2">
                      <p>{{deliveryInfo.address}} - {{deliveryInfo.ward}} -
                        {{deliveryInfo.district}} -
                        {{deliveryInfo.province}}</p>
                      <p>{{deliveryInfo.phoneNumber}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="m-4 payment-block">
                  <div class="row m-2 header-form-block">
                    <div class="col-7">
                        <p>
                          <span translate>payment.order_form</span>
                        </p>
                        <p>
                        <span translate
                              [translateParams]="{number: productList.length}">payment.products_count</span>
                        </p>
                    </div>
                    <div class="col-5 text-right">
                      <button class="btn button-edit"
                              (click)="gotoCart()"><span
                        translate>payment.edit</span></button>
                    </div>
                  </div>
                  <div class="row m-2 header-form-block">
                    <div class="col-12" *ngFor="let product of productList">
                      <div class="row">
                        <div class="col-8">
                          <p>
                            <b>{{product.amount}} x </b><a href="#">{{product.productName}}</a>
                          </p>
                          <p translate>
                            <span translate
                                  name="provider">payment.provided_by</span>
                          </p>
                          <p>
                            <span>{{product.supplierName}}</span>
                          </p>
                        </div>
                        <div class="col-4">
                          <div class="row justify-content-end">
                            <span>{{product.unitPrice * product.amount | number}} {{currency}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row m-2 header-form-block">
                    <div class="col-8">
                      <span translate>payment.sub_total</span>
                    </div>
                    <div class="col-4">
                      <div class="row justify-content-end">
                        <span>{{subTotal | number}} {{currency}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row m-2">
                    <div class="col-6">
                      <b translate>payment.total</b>
                    </div>
                    <div class="col-6">
                      <div class="row justify-content-end">
                        <h6>{{subTotal + 2 | number}} {{currency}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </nb-card>
    </div>
  </div>
</div>
