<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card>
          <div class="row mt-3">
            <div class="col-8">
              <div class="m-4 payment-block">
                <div class="row">
                  <div class="col-12 ml-3">

                    <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="payment"
                             id="payment-by-cash">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Pay with cash</span>
                    </label>

                  </div>

                  <div class="col-12 ml-3">

                    <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="payment"
                             id="payment-by-card">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Pay with Visa, Master, JCB</span>
                    </label>

                    <div class="row mr-3 mt-2">
                      <div class="col-12">
                        <div class="m-4 payment-block">

                          <div class="m-2 payment-block-form">

                            <div class="row">
                              <div class="col-12">
                                <label class="custom-control custom-radio">
                                  <input type="radio" class="custom-control-input" name="payment-block"
                                         id="new-card-number">
                                  <span class="custom-control-indicator"></span>
                                  <span class="custom-control-description">Input new card number</span>
                                </label>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-12">
                                    <label>Card number:</label>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-10">
                                    <input type="text" class="form-control"
                                           placeholder="Ex: 4123 456 8901 2345">
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-12">
                                    <label>Name on card:</label>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-10">
                                    <input type="text" class="form-control"
                                           placeholder="Ex: NGUYEN VAN A">
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-12">
                                    <label>Date expired:</label>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-4">
                                    <input type="text" class="form-control"
                                           placeholder="MM/YY">
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-12">
                                    <label>Security Code:</label>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-4">
                                    <input type="text" class="form-control"
                                           placeholder="Ex: 123">
                                  </div>
                                </div>

                              </div>
                              <div class="col-6">
                                <div class="row">
                                  <div class="col-12">
                                    <div class="image-mastercard">
                                      <img src="../../../assets/images/mastercard-guide.jpg" alt="">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>

                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="col-12 ml-3">

                    <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="payment"
                             id="payment-by-ebank">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">ATM inland card/Internet Banking (free payment)</span>
                    </label>

                  </div>
              </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-12">
                  <div class="m-4 payment-block">
                    <div class="row m-2 header-form-block">
                      <div class="col-6">
                        <p>Address Delivery</p>
                      </div>
                      <div class="col-6 text-right">
                        <button class="btn button-edit">Edit</button>
                      </div>
                    </div>
                    <div class="row">
                      <h6>Ali33</h6>
                      <p>zxczxczxc</p>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="m-4 payment-block">
                    <div class="row m-2 header-form-block">
                      <div class="col-6">
                        <p>Address Delivery</p>
                      </div>
                      <div class="col-6 text-right">
                        <button class="btn button-edit">Edit</button>
                      </div>
                    </div>
                    <div class="row">
                      <h6>Ali33</h6>
                      <p>zxczxczxc</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </nb-card>
    </div>
  </div>
</div>
