.payment-block {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.image-mastercard {
  width: 245px;
  height: 150px;
}

.image-mastercard img {
  height: 100%;
  width: 100%;
}

.header-form-block {
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 10px;
}

